<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>voteSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>voteSystem.Ui.Servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoRegServlet</servlet-name>
    <servlet-class>voteSystem.Ui.Servlet.DoRegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>voteSystem.Ui.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoLoginServlet</servlet-name>
    <servlet-class>voteSystem.Ui.Servlet.DoLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoVoteServlet</servlet-name>
    <servlet-class>voteSystem.Ui.Servlet.DoVoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VoteServlet</servlet-name>
    <servlet-class>voteSystem.Ui.Servlet.VoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>voteSystem.Ui.Servlet.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoAddServlet</servlet-name>
    <servlet-class>voteSystem.Ui.Servlet.DoAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>voteSystem.Ui.Servlet.ListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>voteSystem.Ui.Servlet.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/m/modify.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoAddServlet</servlet-name>
    <url-pattern>/m/doAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/m/add.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VoteServlet</servlet-name>
    <url-pattern>/m/vote.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoVoteServlet</servlet-name>
    <url-pattern>/m/doVote.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoRegServlet</servlet-name>
    <url-pattern>/doReg.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoLoginServlet</servlet-name>
    <url-pattern>/doLogin.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodeFilter</filter-name>
    <filter-class>voteSystem.Ui.Filter.EncodeFilter</filter-class>
    <init-param>
      <param-name>enc</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>voteSystem.Ui.Filter.AutoLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>voteSystem.Ui.Listener.OffLineListener</listener-class>
  </listener>
  <jsp-config>
    <taglib>
      <taglib-uri>sym/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/lib/c.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>